.login{
    display:grid;
    place-items: center;
    height:100vh;
    background-color: black;
}

.login > img{
    max-width:100%;
    max-height: 80vh;
}

.login > a{
    padding:20px;
    border-radius: 99px;
    background-color: #1db954;
    font-weight: 800;
    color:white;
    cursor: pointer;
    text-decoration: none;
}

.login > h2{
    text-align: center;
    color:#1db954;
}